@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moulpali&display=swap');
@font-face {
    font-family: 'Mazzard';
    src: local('Mazzard'), url('./assets/fonts/mazzard/MazzardM-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Mazzard';
    src: local('Mazzard'), url('./assets/fonts/mazzard/MazzardM-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Mazzard';
    src: local('Mazzard'), url('./assets/fonts/mazzard/MazzardM-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Mazzard', sans-serif;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: none;
    border: none;
}

*::-webkit-scrollbar-thumb {
    background-color: #454545;
    border: none;
    height: 10px;
    width: 8px;
    border-width: 8px 5px;
    border-radius: 9em;
}

*::-webkit-scrollbar-thumb:hover {
    background: #454545;
}

*::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}